@import url("reset.css");

*,
*:before,
*:after {
    box-sizing: border-box;
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

.container{
    width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
    position: relative;
}

/*=============Header=============*/

.header{
    background: #010032;
    font-size: 16px;
}

.header__logo{
    margin: 28px 0 23px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
}

.nav__inner{
    margin-right: 40px;
}

.nav__inner:last-child{
    margin-right: 0;
}

.nav__link{
    text-decoration: none;
    color: #fff;
}

.nav__link:hover{
    text-decoration: underline;
}

.cart{
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-right: 40px;
}

.cart:hover{
    text-decoration: underline;
}

.cart:before{
    content: "";
    display: block;

    width: 25px;
    height: 2px;
    background: #F1F2F6;
    border-radius: 20px;

    position: absolute;
    top: 15%;
    right: 0;
}

.cart:after{
    content: "";
    display: block;

    width: 25px;
    height: 2px;
    background: #F1F2F6;
    border-radius: 20px;

    position: absolute;
    bottom: 17%;
    right: 0;
}

/*=============Intro=============*/

.intro{
    background: #010032;
}

.intro__inner{
    display: flex;
    justify-content: space-between;
}

.intro__title{
    font-size: 72px;
    margin-top: 100px;
    color: #fff;
    line-height: 75.6px;
}

.intro__text{
    width: 543px;
    line-height: 34.1px;

    font-size: 22px;
    margin-top: 34px;
    color: #fff;
}

.intro__button{
    display: inline-block;
    color: #000;
    background: #fff;

    padding: 21px 86px 22px 46px;
    border-radius: 32px;
    margin-top: 23px;

    position: relative;
    text-decoration: none;
}

.intro__button:hover{
    text-decoration: underline;
}

.intro__button:before{
    content: "";
    display: block;

    width: 24px;
    height: 25px;
    background: url("../image/sprites/css_sprites.png") -10px -287px;

    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
}

.information{
    margin: 104px 0 50px 0;
    position: relative;
    padding: 0 0 0 88px;
}

.information:before{
    content: "";
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 64px;
    height: 64px;
    background: url("../image/sprites/css_sprites.png") -10px -884px;
}

.information__title{
    color: #fff;
    line-height: 25.92px;
    margin-bottom: 7px;
    padding-top: 4px;
}

.information__text{
    color: #fff;
    font-size: 15px;
    line-height: 22.4px;
    text-decoration: none;
    opacity: 0.6;
}

/*=============About=============*/

.about{
    margin-top: 100px;
}

.about__inner{
    display: flex;
}

/*Left*/

.about__left{
    width: 513px;
}

.white__theme{
    display: block;
    text-transform: uppercase;
    color: #4543E8;
    font-size: 16px;
    padding-left: 90px;
    position: relative;
}

.white__theme:before{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 72px;
    height: 10px;
    background: url('../image/sprites/css_sprites.png') -10px -10px;
}

.about__text{
    font-size: 19px;
    line-height: 28px;
    margin-top: 159px;
    width: 391px;
}

.worker{
    display: flex;
    margin-top: 27px;
}

.worker__inner{
    margin-left: 24px;
}

.worker__title{
    line-height: 24.12px;
    margin-bottom: 7px;
    padding-top: 4px;
}

.worker__text{
    font-size: 15px;
    line-height: 24.12px;
}

/*Right*/

.about__right{
    width: 767px;
}

.about__title{
    font-size: 48px;
}

.statistic{
    display: flex;
    margin-top: 74px;
}

.statistic__inner{
    margin-right: 64px;
}

.statistic__inner:last-child{
    margin-right: 0;
}

.statistic__title{
    color: #4543E8;
    font-size: 60px;
    line-height: 66px;
}

.statistic__text{
    font-size: 22px;
    line-height: 30.8px;
}

.companies{
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
}

/*=============Work=============*/

.work__inner{
    margin-top: 180px;
}

.work__title{
    font-size: 60px;
    line-height: 66px;
    margin: 26px 0 78px 0;
}

/*Cards*/

.works__cards{
    display: flex;
    justify-content: space-between;
}

.card{
    position: relative;
}

.card__title{
    font-size: 24px;
    line-height: 29.76px;
    margin-top: 32px;
    position: relative;
}

.card__title:before{
    content: "";
    display: block;
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 28px;
    height: 28px;
    background: url(../image/sprites/css_sprites.png) -10px -332px;
}

.card__text{
    font-size: 12px;
    line-height: 27.9px;
    width: 500px;
    margin-top: 23px;
}

.works__cards2{
    margin: 109px 0 0 390px;
}

.card3>p{
    width: 700px;
}

.card4>p{
    width: 460px;
}

.card5>p{
    width: 500px;
}

.works__cards3{
    margin-top: 107px;
}

.viewAll{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    background: #4543E8;
    padding: 56px 40px;
    margin: 84px 0 120px 0;
}

.viewAll:hover{
    text-decoration: underline;
}

/*=============Services=============*/

.services{
    background: #010032;
}

.services__inner{
    display: flex;
    position: relative;
}

.services__inner:before{
    content: "";
    display: block;

    position: absolute;
    right: 0;
    bottom: 150px;

    width: 168px;
    height: 44px;
    background: url('../image/sprites/css_sprites.png') -10px -380px;
}

.dark__theme{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding-left: 90px;
    position: relative;
}

.dark__theme:before{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 72px;
    height: 10px;
    background: url('../image/sprites/css_sprites.png') -10px -40px;
}

.services__block{
    margin: 144px 0 194px 0;
}

.services__item{
    color: #fff;
}

.services__title{
    width: 352px;
    font-size: 48px;
    line-height: 53.76px;
    color: #fff;
    margin-top: 22px;
}

.services__logo{
    width: 56px;
    height: 56px;
}

.first__item{
    margin-left: 143px;
}

.item__title{
    display: block;
    font-size: 24px;
    line-height: 29.76px;
    margin-bottom: 23px;
}

.item__text{
    display: block;
    font-size: 18px;
    line-height: 27.9px;
    width: 289px;
}

.first__logo{
    background: url('../image/sprites/css_sprites.png') -10px -732px;
    margin: 120px 0 20px 0;
}

.second__logo{
    background: url('../image/sprites/css_sprites.png') -10px -580px;
    margin: 164px 0 20px 0;
}

.third__logo{
    background: url('../image/sprites/css_sprites.png') -10px -808px;
    margin: 58px 0 20px 0;
}

.fourth__logo{
    background: url('../image/sprites/css_sprites.png') -10px -656px;
    margin: 164px 0 20px 0;
}

.services__block2{
    margin-left: 119px;
}

.services__button{
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 21px 86px 22px 42px;
    text-decoration: none;
    border-radius: 32px;
    margin-top: 155px;
}

.services__button:hover{
    text-decoration: underline;
}

/*=============Testimonials=============*/

.testimonials{
    background: #D8D8EB;
    padding-top: 120px;
    padding: 120px 0 240px 0;
}

.testimonials__inner{
    position: relative;
}

.white__center__theme{
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #4543E8;
    font-size: 16px;
    position: relative;
}

.white__center__theme:before{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 56%;
    transform: translateY(-50%);

    width: 72px;
    height: 10px;
    background: url('../image/sprites/css_sprites.png') -10px -10px;
}

.white__center__theme:after{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    right: 56%;
    transform: translateY(-50%);

    width: 72px;
    height: 10px;
    background: url('../image/sprites/css_sprites.png') -10px -10px;
}

.testimonials__title{
    text-align: center;
    font-size: 60px;
    line-height: 66px;
    margin-top: 26px;
}

/*Review*/

.testimonials__review{
    display: flex;
    justify-content: space-around;
}

.review__inner{
    background: #fff;
    width: 576px;
    padding: 41px 60px 52px 40px;
    border-radius: 20px 20px 0px 20px;
    margin-top: 58px;
}

.stars{
    width: 152px;
    height: 24px;
    background: url('../image/sprites/css_sprites.png') -10px -155px;
}

.rewiew__title{
    display: block;
    font-size: 24px;
    line-height: 29.76px;
    margin-top: 30px;
}

.rewiew__text{
    display: block;
    font-size: 18px;
    line-height: 27.9px;
    margin-top: 15px;

}

/*Review=</>*/

.testimonials__arrowLeft{
    display: block;

    position: absolute;
    left: 45%;
    bottom: -25%;

    width: 48px;
    height: 48px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    background: url('../image/sprites/css_sprites.png') -10px -444px;
}

.testimonials__arrowLeft:hover{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.testimonials__arrowRight{
    display: block;

    position: absolute;
    right: 45%;
    bottom: -25%;

    width: 48px;
    height: 48px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    background: url('../image/sprites/css_sprites.png') -10px -512px;
}

.testimonials__arrowRight:hover{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

/*=============Process=============*/

.process__inner{
    padding-top: 144px;
}

.process__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pTitle__left{
    display: block;
    font-size: 60px;
    line-height: 63.6px;
    width: 488px;
    margin-top: 13px;
}

.pTitle__right{
    display: block;
    font-size: 22px;
    line-height: 34.1px;
    width: 406px;
}

.process__list{
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
}

.process__item{
    width: 400px;
}

.list__number{
    display: block;
    color: #4543E8;
    font-size: 48px;
    line-height: 53.76px;
    position: relative;
}

.list__number:before{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);

    width: 64px;
    height: 24px;
    background: url('../image/sprites/css_sprites.png') -10px -111px;
}

.list__number:before::last-child{
    display: none;
}

.list__title{
    display: block;
    font-size: 24px;
    line-height: 29.76px;
    margin-top: 31px;
}

.list__text{
    display: block;
    font-size: 12px;
    line-height: 27.9px;
    margin-top: 11px;
    width: 370px;
}

/*=============Shop=============*/

.shop__inner{
    padding-top: 200px;
}

.shop__title{
    font-size: 48px;
    line-height: 52.8px;
    text-align: center;
    margin-top: 23px;
}

.products{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.products__title{
    display: block;
    font-size: 24px;
    line-height: 29.76px;
    margin-top: 32px;
}

.products__text{
    display: block;
    font-size: 18px;
    line-height: 27.9px;
    margin-top: 6px;
}

.white__button{
    display: inline-block;
    margin: 0 auto;
    margin-top: 82px;

}






